
*.db
*.opendb
*.log
ServerChat/.vs/ServerChat/v15/.suo
ServerChat/ServerChat/x64/Debug/ServerChat.log
*.log
*.log
ServerChat/ServerChat/x64/Debug/ServerChat.log
*.obj
*.tlog
*.ilk
*.pdb
*.lastbuildstate
*.exe
*.vcxproj
ClientChat/.vs/ClientChat/v15/.suo
*.log
*.obj
*.pch
*.ipch
